@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar but keep scroll functionality */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
